.add-button-container {
    position: absolute;
    bottom: 100px;
    right: 10px;
}


.add-button-container .add-btn,
.add-button-container .minus-btn,
.add-button-container .total-btn {
  background: white;
  color: rgb(64, 64, 64);
  min-width: 30px;
  border-radius: 0px;
  height: 30px;
  /* box-shadow: 0 2px 5px rgba(0,0,0,0.2); */
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s;   
}

.add-btn:hover,
.minus-btn:hover {
    background: #bebebe;
}

.add-button-container .border-box {
    border: 1.5px solid rgba(0, 0, 0, 0.484);
    display: flex;
    align-items: center;
}